@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.titletext {
  font-size: 22px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px 35px;
}

.movie-container {
  margin: 10px;
}

.movie-container select {
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.seat {
  background-color: #444451;
  height: 22px;
  width: 30px;
  margin: 7px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #ffffff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #ffffff;
  height: 150px;
  width: 100%;
  margin: 0px;
  transform: rotateX(-45deg);
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0px;
}

p.text span {
  color: #6feaf6;
}

.buttons-container {
  margin-top: 30px;
}

.btn {
  background-color: #ecebf3;
  margin: 10px;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  width: 80%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: #6feaf6;
}

.footer {
  padding-bottom: 60px;
}

/* Made by Cybero 2020 */
